
body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: $gray;
}

main {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $lgray5;
    opacity: 1;
}

.container-fluid-custom {
    padding-left: 25px;
    padding-right: 25px;
}

.container {
    max-width: 1200px;
}