
.bold {
    font-family: Signika;
    font-weight: 700;
}

.reg {
    font-family: Signika;
    font-weight: 400;
}

small {
    font-size: 80%;
}

%alignfull {
    position: relative;
    left: 50%;
    right: 50%;
    z-index: 1;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}   

.alignfull {
    @extend %alignfull;

    .wp-block-group__inner-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}