
a,
body a:where(:not(.wp-element-button)) {
    color: $gray;
    text-decoration: none;
    outline: none;
    transition: .2s ease-in-out;

    &:hover {
        color: $green2;
        text-decoration: underline;
    }
}

:root body :where(a:where(:not(.wp-element-button))) {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    color: $primary;
}

h1 {
    font-size: 48px;
    line-height: 54px;
}

h2 {
    font-size: 34px;
    line-height: 44px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 34px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}