
.vk-back-to-top {
    @media screen and (min-width: 790px) {
        position: fixed;
        right: 0;
        bottom: -64px;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        font-size: 0;
        line-height: 0;
        color: $white;
        background-color: rgba(0, 128, 119, 0.75);
        border-radius: 20px;
        transition: 0.4s;

        &:before {
            content: "\e9c9";
            position: relative;
            top: 0;
            display: block;
            font-family: 'wokiee_icons';
            font-size: 20px;
            line-height: 1;
            transition: top 0.2s linear;
        }

        &:hover {
            color: $white;
            background-color: rgba(255, 143, 0, 0.75);

            &:before {
                top: -4px;
            }
        }

        &.show {
            bottom: 50px;
        }
    }

    @media screen and (max-width: 789px) {
        display: block;
        padding: 5px 0 33px 0;
        width: 100%;
        font-size: 12px;
        font-family: 'Signika', sans-serif;
        font-weight: 600;
        color: $blue;
        text-align: center;
        text-transform: uppercase;
        background-color: $white;
        transition: color 0.2s linear;

        &:before {
            content: "\e9c9";
            display: block;
            font-family: 'wokiee_icons';
            font-size: 20px;
            line-height: 1;
        }
    }
}