
%btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 31px;
    min-height: 50px;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    border-radius: 20px;
}

.btn-white {
    @extend %btn;
    color: $lblue;
    background-color: $white;

    @include on-event() {
        text-decoration: none;
    }
}

.wp-block-button {
    & > .wp-block-button__link {
        @extend %btn;
        min-height: 50px;
        color: $white;
        background-color: $orange3;

        img {
            max-width: 10px;
            margin-left: 10px;
        }
    
        @include on-event() {
            text-decoration: none;
            background-color: $green2;
        }
    }

    &.is-style-outline {
        color: $orange3;

        & > .wp-block-button__link {
            color: $orange3;
            border-color: $orange3;
    
            @include on-event() {
                color: $green2;
                border-color: $green2;
            }
        }
    }

    &.is-style-btn-green > .wp-block-button__link {
        color: $white;
        background-color: $green2;

        @include on-event() {
            color: $white;
            background-color: $gray2;
        }
    }
}

.btn-orange {
    @extend %btn;
    color: $white;
    background-color: $orange3;
    border: none;
    transition: .2s all linear;

    @include on-event() {
        color: $white;
        text-decoration: none;
        background-color: $green2;
        border: none;
    }
}

.btn-orange-outline {
    @extend %btn;
    color: $orange3;
    background-color: $white;
    border: 2px solid $orange3;
    transition: .2s all linear;

    @include on-event() {
        color: $white;
        text-decoration: none;
        background-color: $orange3;
    }
}