
%user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    min-height: 50px;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $gray;
    background-color: $whitelilac;
    border: 1px solid $whitelilac;
    border-radius: 20px;
    transition: .2s all linear;

    @include on-event() {
        text-decoration: none;
        background-color: $white;
        border-color: $green2;
        outline: none;
    }

    &::-webkit-input-placeholder {
        font-weight: 100;
        color: $lgray2;
        font-style: italic;
    }
    &::-moz-placeholder {
        font-weight: 100;
        color: $lgray2;
        font-style: italic;
    }
    &:-ms-input-placeholder {
        font-weight: 100;
        color: $lgray2;
        font-style: italic;
    }
    &:-moz-placeholder {
        font-weight: 100;
        color: $lgray2;
        font-style: italic;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    @extend %user-input;

    &.wpcf7-not-valid {
        border-color: $redburn;
    }
}

select {
    appearance: none;
    cursor: pointer;
}

textarea {
    height: 160px;
    padding: 20px;
    border-radius: 10px;
    resize: none;

    &.textarea-small {
        height: 80px;
    }
}

.wpcf7 {
    form.wpcf7-form {
        .wpcf7-submit:disabled {
            opacity: .5;
            pointer-events: none;
        }
        
        .wpcf7-not-valid-tip {
            padding-top: 5px;
            padding-left: 10px;
            font-size: 14px;
            color: $redburn;
        }
    
        .wpcf7-response-output {
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            text-align: center;
        }
    }

    .col-12 {
        margin-bottom: 20px;
    }

    a {
        color: $orange3;
    }

    .product-label-cf {
        display: block;
        padding: 0 10px;
        margin-top: -10px;
        font-style: italic;
    }
    
    .wpcf7-acceptance {
        & > span {
            margin-left: 0;
        }

        input, label {
            cursor: pointer;
        }
    
        .wpcf7-list-item-label {
            padding-left: 2px;
        }
    }

    .dropdown {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            z-index: 2;
            width: 10px;
            height: 1px;
            background-color: $green2;
            pointer-events: none;
        }

        &::before {
            right: 30px;
            transform: translate(0, -50%) rotate(45deg);
        }

        &::after {
            right: 24px;
            transform: translate(0, -50%) rotate(-45deg);
        }
    }
}

.senior-dog-form {
    .col-content .acf-innerblocks-container {
        padding: 0;

        @include respond-to(sm-down) {
            padding-right: 12px;
            padding-left: 12px;
        }
    }

    #mc_embed_signup {
        padding: 0;
        width: 100%;
        background: none;

        form {
            padding: 30px 55px;
            margin: 0 0 30px;
            color: $gray;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: $white;
            border: 0;
            border-radius: 15px;
        }

        #mc_embed_signup_scroll {
            position: relative;
            padding-right: 50px;

            &:after {
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                width: 60px;
                height: 60px;
                background: url('../images/arrow.png') no-repeat;
                background-size: contain;
            }
        }

        h2 {
            font-size: 34px;
        }

        .mc-field-group {
            width: 100%;

            input {
                padding: 8px 15px;
                width: 100%;
                color: $gray;
                text-indent: 0;
                background-color: $lgray6;
                border: 0;
                border-radius: 10px;

                @include placeholder() {
                    font-weight: 400;
                    color: $gray;
                }
            }

            select {
                padding: 8px 32px 8px 15px;
                width: 100%;
                font-style: italic;
                color: $gray;
                background: $lgray6 url('../icons/down-arrow.svg') no-repeat center right 15px;
                background-size: 15px;
                border: 0;
                border-radius: 10px;
            }

            &.size1of2 {
                margin-right: 0;
                width: 100%;
            }

            .datefield {
                padding: 8px 15px;
                background: $whitelilac;
                border-radius: 10px;

                .small-meta {
                    font-family: 'Hind', sans-serif;
                    font-size: 16px;
                    font-style: italic;
                    font-weight: 400;
                    color: $gray;
                }

                input {
                    padding: 0;
                    width: auto;
                    min-width: 30px;
                    min-height: 34px;
                    letter-spacing: 0;
                    background: transparent;
                    border-radius: 0;
                    border: 0;
                }
            }

            .custom-form-one {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 15px;
                padding: 0;
                margin: 15px 0;
                list-style: none;

                .senior-dog-checkbox {
                    input {
                        display: none;

                        &:checked + label {
                            border-color: $green2;

                            &:before {
                                opacity: 1;
                            }
                        }
                    }

                    label {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 16px 15px;
                        font-family: 'Signika', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: $gray;
                        text-align: center;
                        border: solid 1px $gray6;
                        cursor: pointer;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 5px;
                            right: 10px;
                            width: 6px;
                            height: 14px;
                            border: solid $green2;
                            border-width: 0 2px 2px 0;
                            border-radius: 0;
                            transform: rotate(45deg);
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .button {
            @extend .btn-orange;
            width: 100%;
        }
    }
}

@include respond-to(md-down) {
    .senior-dog-form {
        #mc_embed_signup {
            form {
                padding: 25px;
            }

            #mc_embed_signup_scroll {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            h2 {
                font-size: 26px;
            }
        }
    }
}