
.footer {
    &__main {
        background-color: $aliceblue;

        &-title {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.6;
        }

        &-content {
            ul {
                padding: 0;
                list-style: none;

                a {
                    display: inline-block;
                    padding: 3px 0 3px;
                    font-size: 14px;
                    transition: color 0.2s linear;

                    &:hover {
                        color: $orange2;
                    }
                }
            }

            p {
                margin-bottom: 0;

                a {
                    color: $primary;

                    &:hover {
                        color: $orange2;
                    }
                }

                & + p {
                    margin-top: 6px;
                }
            }
        }
    }

    &__logo {
        img {
            width: auto;
            max-height: 30px;
        }
    }

    &__copyright {
        font-size: 14px;
        line-height: 22px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: -8px;

        a {
            display: inline-block;
            padding: 4px;
            font-size: 18px;
            line-height: 26px;
            color: $lgray2;

            &:hover {
                color: $dark;
            }
        }
    }

    @media screen and (min-width: 790px) {
        &__main {
            padding-bottom: 53px;

            &-title {
                padding-bottom: 15px;
            }

            div[class^="col-"] {
                margin-top: 54px;
            }
        }

        &__bottom {
            padding: 10px 0 40px;
            color: $gray3;
            background-color: $white;
        }

        &__copyright {
            padding-top: 19px;
            padding-bottom: 7px;
        }
    }
}