
.footer {
    &__main {
        font-size: 14px;
        color: $gray3;
        background-color: $aliceblue;

        &-title {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.6;
            color: $green2;
        }

        &-content {
            ul {
                padding: 0;
                margin-bottom: 0;
                list-style: none;

                a {
                    display: inline-block;
                    padding: 3px 0 3px;
                    font-size: 14px;
                    transition: color 0.2s linear;

                    &:hover {
                        color: $orange2;
                    }
                }
            }

            p {
                margin-bottom: 0;

                a {
                    color: $primary;

                    &:hover {
                        color: $orange2;
                    }
                }

                strong {
                    font-weight: 500;
                }

                & + p {
                    margin-top: 6px;
                }
            }
        }
    }

    &__logo {
        img {
            width: auto;
            max-height: 30px;
        }
    }

    &__copyright {
        font-size: 14px;
        line-height: 22px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: -8px;

        a {
            display: inline-block;
            padding: 4px;
            font-size: 18px;
            line-height: 26px;
            color: $lgray2;

            &:hover {
                color: $dark;

                svg path {
                    fill: $dark;
                }
            }
        }
    }

    &-newsletter {
        form {
            margin: 20px 0 !important;
        }

        #mc_embed_signup_scroll {
            div.mc-field-group {
                padding-bottom: 0;

                input {
                    padding: 8px 16px;
                    background-color: $white;
                    border: solid 1px $lgray3;
                    border-radius: 20px 0 0 20px;

                    @include placeholder() {
                        font-style: normal;
                    }
                }
            }

            input.button {
                margin-bottom: 0;
                height: 50px;
                font-family: 'Signika', sans-serif;
                font-size: 20px;
                color: $white;
                background-color: $orange5;
                border-radius: 0 20px 20px 0;

                &:hover {
                    background-color: $green2;
                }
            }
        }
    }

    @media screen and (min-width: 790px) {
        &__main {
            padding-bottom: 53px;

            &-title {
                padding-bottom: 15px;
            }

            div[class^="col-"] {
                margin-top: 54px;
            }
        }

        &__bottom {
            padding: 10px 0 40px;
            color: $gray3;
            background-color: $white;
        }

        &__copyright {
            padding-top: 19px;
            padding-bottom: 7px;
        }
    }

    @include respond-to(lg-down) {
        .container {
            max-width: 90%;
        }
    }

    @media (min-width: 790px) and (max-width: 1024px)  {
        &__main {
            div[class^=col-] {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    @media screen and (max-width: 789px)  {
        .container {
            padding-right: 30px;
            padding-left: 30px;

            @media screen and (max-width: 749px) {
                max-width: 100%;
            }
        }

        &__main {
            background-color: $white;

            div[class^=col-] {
                flex: 0 0 100%;
                max-width: 100%;
            }

            &-title {
                position: relative;
                padding-bottom: 12px;
                padding-right: 20px;
                width: 100%;
                text-align: left;
                border-bottom: 1px solid $lgray3;
                transition: color 0.2s linear;
                outline: none;
                cursor: pointer;

                &:after {
                    content: '\e9b1';
                    position: absolute;
                    right: 0;
                    top: 1px;
                    font-family: 'wokiee_icons';
                    font-size: 20px;
                    line-height: 1;
                    color: $gray;
                }

                &:hover:not(:focus):not(:active) {
                    color: $orange2;
                }

                &.open {
                    &:after {
                        content: '\e9b2';
                    }
                    
                    & + .footer__main-content {
                        display: block;
                    }
                }
            }

            &-content {
                display: none;
                margin-top: 16px;

                a,
                p a {
                    color: $rose;
                }
            }
        }

        &__mobile-collapse {
            margin-top: 35px;
        }

        &__bottom {
            padding-bottom: 34px;

            .row {
                margin-top: 34px;
                justify-content: center;
            }
        }

        &__copyright {
            margin-top: 16px;
            text-align: center;
        }

        &__social {
            margin-top: 26px;
        }
    }
}