
.header {
    &__top {
        position: relative;
        padding: 5px 15px 8px;
        font-family: Signika;
        font-size: 20px;
        line-height: normal;
        color: $primary;
        text-align: center;
        background-color: $white;
        
        .phone-no {
            position: absolute;
            top: 8px;
            right: 15px;
            font-style: normal;
            font-size: medium;
            color: $primary;

            img {
                width: 15px;
            }
        }
    }

    &__middle {
        background-color: $primary;

        &-wrap {
            display: flex;
            height: 80px;
        }
    }

    &__logo {
        img {
            margin-top: 15px;
            max-width: 158px;
            height: auto;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        width: 60%;
        height: 100%;
        font-family: Signika;
        color: $white;
    }

    .account-details a {
        margin: 0 8px;
        font-size: 18px;
        color: $white;
    }

    &__cart {
        position: relative;

        &-count {
            position: absolute;
            right: -5px;
            top: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            font-size: 11px;
            font-weight: 700;
            color: $white;
            background-color: $orange;
            border-radius: 50%;
        }
    }

    &__search {
        position: relative;

        .search-field {
            padding: 3px 0.75rem 3px 35px;
            max-width: 240px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            border-radius: 10px;
            border: 0;
            outline: 0;
            -webkit-appearance: none;

            @include placeholder() {
                color: $primary;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }

        .search-submit {
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 22px;
            color: $primary;
            background: transparent;
            border: 0;
            transform: translateY(-50%);
        }
    }

    &__bottom {
        background-color: $pale;

        #mega-menu-wrap-primary {
            #mega-menu-primary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: auto;
                width: 60%;
                min-height: 75px;
                font-family: Signika;
                font-weight: 700;

                & > li.mega-menu-item > a.mega-menu-link {
                    height: auto;
                    font-family: Signika;
                    font-weight: 700 !important;
                    font-size: 12px;
                    line-height: 22px;

                    & > img {
                        display: block;
                        margin: 0 auto 3px;
                        width: 30px;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1025px) {
        &__bottom {
            #mega-menu-wrap-primary {
                #mega-menu-primary {
                    & > li.mega-menu-item {
                        & > ul.mega-sub-menu {
                            border-bottom-left-radius: 6px;
                            border-bottom-right-radius: 6px;
                            box-shadow: 0 1px 6px rgba(0,0,0,.2);
                            transform: translateY(13px) translate(-36%) !important;
                        }

                        &.mega-menu-grid>ul.mega-menu-megamenu li.mega-menu-row {
                            .mega-sub-menu {
                                display: flex;

                                li.mega-collapse-children {
                                    & > .mega-menu-link {
                                        padding: 0 10px;
                                        margin-bottom: 10px;
                                        font-size: 15px;
                                        font-weight: 700;
                                        color: $primary;
                                    }

                                    span.mega-indicator {
                                        display: none;
                                    }

                                    & > ul.mega-sub-menu {
                                        display: block;
                                    }
                                }
                            }

                            .mega-menu-column {
                                width: 175px;
                            }
                        }
                    }
                }
            }
        }
    }
}