
$primary: #005f58;
$white: #ffffff;
$whitelilac: #f7f8fa;
$whitepale: #fafdff; 
$whiteflash: #f1f4f7;
$black: #000000;
$gray: #777777;
$gray2: #4d4d4d;
$gray3: #888888;
$gray4: #808080;
$gray5: #353535;
$gray6: #a9a9a9;
$lgray: #b1aca8;
$lgray2: #c3c3c3;
$lgray3: #e9e7e7;
$lgray4: #eee;
$lgray5: #ddd;
$lgray6: #f2f4f5;
$orange: #eb8f2e;
$orange2: #ff8f00;
$orange3: #f88729;
$orange4: #ff8f02;
$pale: #fff3eb;
$aliceblue: #f7f8fa;
$dark: #191919;
$green2: #008077;
$green3: #018077;
$blue: #2879fe;
$blue2: #2689de;
$lblue: #2ea4eb;
$lblue3: #2ea5ea;
$rose: #c3416c;
$redburn: #dc3232;
$purple: #42459d;

//
$base-url: '../' !default;