
.woocommerce-page {
    .restricted-zone-message {
        display: none;
        padding: 15px;
        width: 100%;
        color: $gray;
        background-color: $whitelilac;
        border: 1px solid $rose;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    .container > .wp-block-group:first-of-type {
        padding-top: 0;

        h1 {
            margin-top: 30px;
        }
    }

    &.woocommerce-cart {
        .select2-container--default {
            .select2-search--dropdown .select2-search__field {
                min-height: 40px;
            }
        }
        
        .wc-proceed-to-checkout {
            a.checkout-button {
                @extend .btn-orange;
                width: 100%;
                text-transform: uppercase;
            }
        }

        table.wc-block-cart-items {
            .wc-block-cart-items__row {
                .wc-block-components-product {
                    &-name {
                        margin-bottom: 5px;
                        font-family: 'Signika', sans-serif;
                        color: $green2;
                    }

                    &-metadata  {
                        font-size: 14px;
                        color: $green2;
                    }
                }

                .wc-block-components-quantity-selector {
                    &__input {
                        min-height: auto;
                    }

                    &__button {
                        box-shadow: none !important;
                    }

                    &:after {
                        border-radius: 20px;
                    }
                }

                .wc-block-components-product-price {
                    font-size: 16px;
                    font-weight: 600;
                    color: $green2;
                }
            }
        }

        table.shop_table {
            .product-price,
            .product-quantity,
            .product-subtotal {
                text-align: center;
            }

            .product-remove {
                text-align: right;

                svg {
                    width: 15px;
                    height: 15px;

                    path {
                        fill: $green2;
                    }
                }

                a:hover {
                    background: none;
                }
            }

            .product-quantity {
                .qty {
                    padding: 5px 10px;
                    margin: auto;
                    width: 120px;
                    min-height: 40px;
                }
            }

            .woocommerce-cart-form__cart-item {
                .product-name a {
                    color: $green2;
                }

                .product-price,
                .product-subtotal {
                    font-weight: 600;
                    color: $green2;
                }
            }

            .coupon {
                display: none !important;
            }

            .actions button[name="update_cart"] {
                display: inline-block;
                padding: 8px 15px;
                font-family: 'Signika', sans-serif;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                background-color: $green2;
            }
        }

        .wc-empty-cart-message {
            display: none;
        }

        .cart-title {
            margin-bottom: 30px;
            font-size: 34px;
            text-align: center;
            text-transform: uppercase;
        }

        .empty-cart {
            padding-bottom: 50px;
            text-align: center;

            &__title {
                margin-bottom: 0;
                font-size: 34px;
    
                &:before {
                    content: "\e98e";
                    display: block;
                    font-family: 'wokiee_icons' !important;
                    font-size: 150px;
                    font-weight: 400;
                    color: #ebecee;
                }
            }

            .btn-orange {
                margin-top: 30px;
                text-transform: uppercase
            }
        }

        .cart_totals {
            h2 {
                font-size: 20px;
                text-transform: uppercase;
            }

            input[type="text"] {
                min-height: 40px;
                border-radius: 0;
            }

            .form-row {
                padding: 0;
            }

            .shipping-calculator-button {
                color: $green2;

                &:after {
                    display: none;
                }
            }

            .select2-container--default {
                .select2-selection--single {
                    padding: 10px 20px;
                    margin: 0;
                    height: auto;
                    background-color: $whitelilac;
                    border: 0;
                    border-radius: 0;
    
                    .select2-selection__arrow {
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                    }
    
                    .select2-selection__rendered {
                        font-size: 16px;
                        color: $gray;
                    }
                }
            }

            .button {
                @extend .btn-orange;
                padding: 10px;
                width: 100%;
                min-height: 48px;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 0;
            }
        }

        .cart-notice {
            position: relative;
            padding: 15px;
            margin-bottom: 20px;
            width: 100%;
            font-size: 15px;
            font-weight: 600;
            color: $white;
            background-color: $orange4;
            border-radius: 6px;

            &:before {
                content: '!';
                position: absolute;
                top: -15px;
                left: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 20px;
                background-color: #2e98f3;
                border-radius: 50%;
            }
        }
    }

    &.woocommerce-checkout {
        main {
            padding-bottom: 100px;
        }

        .woocommerce-form-coupon-toggle {
            display: none !important;
        }

        form.woocommerce-form-coupon {
            display: flex !important;
            flex-wrap: wrap;
            color: $white;
            background: $green2;
            border: 0;

            p:not(.form-row-first):not(.form-row-last) {
                flex: 0 0 100%;
                width: 100%;
            }

            .form-row-first {
                flex: 0 0 70%;
            }

            .form-row-last {
                flex: 0 0 30%;

                .button {
                    @extend .btn-orange;
                    width: 100%;

                    &:hover {
                        color: $orange5;
                        background-color: $white;
                    }
                }
            }
        }

        .woocommerce-checkout__sidebar {
            padding: 20px;
            background: rgba(152,222,190,.6);

            h3 {
                padding-bottom: 5px;
                margin-bottom: 10px;
                font-size: 24px;
                color: $primary;
                border-bottom: 2px solid $primary;
            }
        }

        table.shop_table {
            margin: 0 0 20px;
            color: $primary;
            border: 0;
            border-radius: 0;
            border-spacing: 0;

            ul#shipping_method li:last-of-type {
                margin-bottom: 0;
            }

            thead {
                display: none;
            }

            td,th {
                padding: 8px 0;
                vertical-align: top;
                border-color: $primary;

                &:last-child {
                    padding-left: 10px;
                    text-align: right;
                }
            }
            
            tr.cart_item:first-of-type td {
                border-top: 0;
            }
        }

        #payment {
            background: none;

            div.payment_box {
                flex: 0 0 100%;
                background: $white !important;

                &:before {
                    top: auto;
                    bottom: 100%;
                    border-bottom-color: $white;
                }
            }

            .wc-stripe_cc-new-method-container {
                margin-bottom: 0;
            }

            .wc-stripe-bootstrap-form .row:last-of-type > *:last-of-type {
                margin-bottom: 5px !important;
            }

            ul.payment_methods {
                padding: 0;
                color: $primary;
                border-color: $primary;

                li {
                    display: flex;
                    flex-wrap: wrap;

                    input {
                        margin-top: -2px;
                        margin-right: 5px;
                    }

                    label {
                        flex: 1;
                        font-weight: 500;

                        .wc-stripe-card-icons-container {
                            float: none;

                            img:first-child {
                                margin-left: 0;
                            }
                        }

                        img {
                            float: none !important;
                        }
                    }
                }
            }

            .place-order {
                padding: 15px 0 0;
                color: $black;

                a {
                    color: $primary;
                }
            }

            #place_order {
                @extend .btn-orange;
                width: 100%;
                text-transform: uppercase;
            }
        }

        #ship-to-different-address {
            margin-top: 20px;
            font-family: 'Hind', sans-serif;
            font-size: 16px;
            color: $gray;
        }

        .form-row textarea {
            height: 5em;
        }
    }

    div#cart-checkout-notice {
        padding: 15px;
        margin-bottom: 20px;
        font-size: 16px;
        color: $gray2;
        background: rgba(152, 222, 190, .6);
    }

    &.woocommerce-order-received {
        .woocommerce-notice--success.woocommerce-thankyou-order-received {
            padding: 10px;
            margin-bottom: 30px;
            font-family: 'Signika', sans-serif;
            font-size: 20px;
            color: $primary;
            text-align: center;
            background: rgba(152, 222, 190, .6);
        }

        .woocommerce-order {
            h2 {
                margin-bottom: 15px;
                font-size: 24px;
            }

            a {
                color: $green2;
            }

            table.order_details {
                border: 1px solid rgba(0,128,119,.2);

                thead {
                    display: table-header-group;
                }

                td,th {
                    padding: 8px;
                    border-color: rgba(0,0,0,.1);
                }
            }

            table.my_account_orders {
                a.button {
                    font-family: 'Signika', sans-serif;
                    font-weight: 500;
                    color: $white;
                    background: $orange3;
                }
            }

            .woocommerce-customer-details {
                .woocommerce-columns--2 {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: space-between;

                    .woocommerce-column {
                        display: flex;
                        flex-direction: column;

                        address {
                            padding: 15px;
                            margin-bottom: 20px;
                            flex: 1;
                            border-radius: 0;
                            border-width: 1px;
                        }
                    }

                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 769px) {
        .restricted-zone-message {
            margin-left: auto;
            width: 48%;
        }
    }
}