
.vk-login {
    padding: 50px 0 100px;

    h1 {
        margin-bottom: 40px;
        font-size: 34px;
        text-align: center;
    }

    &__block {
        padding: 30px;
        width: 100%;
        border: 1px solid $lgray3;

        h2 {
            margin-bottom: 15px;
            font-size: 24px;
        }

        .woocommerce-form-login {
            &__rememberme {
                display: block;
                margin-bottom: 15px;
            }

            &__submit {
                @extend .btn-orange;
                width: 100%;
            }
        }

        .lost_password {
            text-align: center;

            a {
                color: $green2;
            }
        }
    }
}

.vk-registration {
    padding: 50px 0 100px;

    h1 {
        margin-bottom: 40px;
        font-size: 34px;
        text-align: center;
    }

    form {
        padding: 30px;
        margin: 0 auto;
        max-width: 580px;
        border: 1px solid $lgray3;

        .woocommerce-form-register__submit {
            @extend .btn-orange;
            width: 100%;
        }

        .acf-fields > .acf-field {
            padding: 0;
            margin-bottom: 1rem;
            border: 0;

            input[type="text"],
            input[type="date"],
            select {
                padding: 10px 20px;
            }

            &[data-name="user_pet_type"], 
            &[data-name="user_second_pet_type"],
            &[data-name="user_third_pet_type"] {
                padding-top: 20px;
                margin-top: 30px;
                border-top: 1px solid rgba(0,128,119,.36);
            }

            &[data-name="user_pet_type"]:before {
                content: 'Tell us about them...?';
                display: block;
                margin-bottom: 20px;
                font-family: 'Signika', sans-serif;
                font-size: 30px;
                color: $green2;
                text-align: center;
            }
        }
    }
}