@import '../../assets/scss/abstract/variables';
@import '../../assets/scss/abstract/mixins';

.vetskitchen-image-text-content {
    min-height: 200px;
    color: $black;

    .col-image {
        .image {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    .acf-innerblocks-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        height: 100%;
        text-align: center;

        & > *:not(.wp-block-heading) {
            margin-right: auto;
            margin-left: auto;
            max-width: 420px;
        }
    }

    .image-right {
        .col-content {
            order: 1;
        }

        .col-image {
            order: 2;
        }
    }

    .wp-block-buttons {
        margin-top: 20px;
    }
    .row.g-0 {
        .col-image {
            display: flex;

            .wrapper-image {
                width: 100%;
            }

            .image {
                height: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        .col-content {
            order: 1;
        }
        
        .col-image {
            order: 2;
        }

        .acf-innerblocks-container {
            padding: 50px 0;
        }
    }
}
